.locator-container{
	display: flex;
	flex-wrap: nowrap;
  	overflow-x: hidden;
	width: 100%;
	height: calc(100vh - 8rem);
}

.locator {
	height: calc(100vh - 8rem);
	width: 90%;
  }

.locator .leaflet-container {
	align-self: center;
	grid-template-columns: auto;
	height: 100%;
    width: 100%;
}